.modal-formulario {
  display: none;
  position: fixed;
  z-index: 9999;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);

  justify-content: center;
  align-items: center;

  padding: 20px;
}

.modal-contenido {
  background: white;
  width: 100%;
  max-width: 600px;

  max-height: 90vh;
  overflow-y: auto;

  border-radius: 12px;
  padding: 30px;

  position: relative;
}

.modal-contenido input,
.modal-contenido textarea,
.modal-contenido select {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  font-size: 16px;
}

.cerrar-modal {
  position: absolute;
  top: 15px;
  right: 20px;

  font-size: 28px;
  cursor: pointer;
}
